
    .fun{color: khaki; font-size: 100px; background-color: black;}
    .notfun{color:lawngreen; background-color: purple; font-size: 50px;}
    #uniqueeelement1{
        color: rgb(0, 235, 255);
        font-size: 200px;
        border: red solid 10px;
    }
   